{$SENTINEL_DEMO_ADDRESS} {
    encode zstd gzip
    header {
        X-Content-Type-Options nosniff
        Referrer-Policy no-referrer
        -Server
    }
    handle / {
        root * /srv
        file_server
    }

    handle {
        reverse_proxy sentinel:8080
    }
}
